<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echo.utils">

    <application>
        <provider
            android:name="com.echo.utils.UtilsProvider"
            android:authorities="${applicationId}.UtilsProvider"
            android:exported="true" />
        <activity android:name=".EmptyFragmentActivity" />
    </application>
    <queries>
        <package android:name="com.twitter.android" />
        <package android:name="com.facebook.katana" />
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />
    </queries>
</manifest>