<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echo.utils">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <application>
        <provider
            android:name="com.echo.utils.UtilsProvider"
            android:authorities="${applicationId}.UtilsProvider"
            android:exported="true" />
        <activity
            android:name=".EmptyFragmentActivity"
            android:theme="@style/TransparentTheme" />
        <receiver
            android:name=".ShareUtils$MyResultReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.TWEET_COMPOSE_CANCEL" />
            </intent-filter>
        </receiver>
    </application>
    <queries>
        <package android:name="com.twitter.android" />
        <package android:name="com.facebook.katana" />

        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />
    </queries>

</manifest>